.header {
  box-shadow: none !important;
  border-bottom: 1px solid #dadce0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
}

.leftDiv {
  display: flex;
  align-items: center;
  min-width: 232px;
  padding-right: 2rem;
}

.leftDiv a {
  display: inline-block;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.leftDiv a img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.leftDiv a span {
  color: #5f6368;
  font-size: 22px;
}

.searchDiv {
  width: 100%;
  padding: 0 2rem 0 0.75rem;
}

.searchDiv form {
  max-width: 720px;
}

.searchBar {
  background-color: #f1f3f4;
}

.iconDiv {
  display: flex;
}

.rightDiv {
  padding-left: 2rem;
}
