.mainDiv {
  width: 750px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 3rem 2.5rem 2.25rem;
  display: flex;
  margin: auto;
}

.leftDiv {
  width: 55%;
}

.nameInputs,
.passwordInputs {
  display: flex;
  gap: 0.5rem;
  padding-top: 1.5rem;
}

.emailInput {
  padding-top: 1.5rem;
}

.btn {
  text-transform: none !important;
}

.btn a {
  text-decoration: none;
}

.btn a:visited {
  color: #1976d2;
}

.rightDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.rightDiv p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #202124;
  padding: 0 0.5rem;
}
